# Laravel
backend/.env
backend/vendor/
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*

# Vue / Node
frontend/node_modules/
frontend/.env
frontend/dist/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify
